<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li style="cursor: pointer;" *ngIf="router.url == '/notes'" (click)="onReload()"><a><span class="glyphicon glyphicon-refresh"></span> Reload</a></li>
        <li style="cursor: pointer;" *ngIf="router.url == '/notes'"(click)="onSave()"><a ><span class="glyphicon glyphicon-floppy-disk"></span> Save</a></li>
        <li ><a href="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li ><a href="/notes" routerLinkActive="active"><span class="glyphicon glyphicon-list"></span> Notes</a></li>
      </ul>
  </div>
</nav>