
<div class="container">
  <div class="jumbotron text-center">
      <h1>My Notes:
          <span class="label  label-info">{{notes.length }}</span>
      </h1>
  </div>
</div>

<div class="row">   
  <div class="col-sm-7 col-sm-offset-2 text-center">

      <app-note (noteSaved)="onNoteSaved($event, ref)" >
      </app-note>

      <app-note-list  #ref
          highlightColor="green"
          [note-list]="notes"
          (noteClicked)="onNoteClicked($event.noteIndex)"
          >
      </app-note-list>
  </div>
</div>