<div class="input-group" >
        <input 
            class="form-control" 
            type="text" [(ngModel)]="filterValue">
    </div>

<ol class="list-group"> 
    <li *ngFor="let note of noteList | filterList:filterValue; let i = index"
        class="list-group-item"
        [appHighlight]="highlightBackgroundColor"
        (click) = "onNoteClicked(i)">
        <span class="badge pull-left">{{i}}</span>
        {{ note | conditionatedUppercase:i>4 ? true : false:"Ignored" }} 
</li>
</ol>

