<div class="input-group" >
    <input #noteInput
        class="form-control" 
        type="text" 
        >
        <span class="input-group-btn" >
            <button #addButton class="btn btn-primary" style="margin-bottom:10px"
                (click)="onClick(noteInput)"
                >
                Add
            </button> 
        </span>
<br>
</div>
